*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    width: 100%;
    height: 95vh;
    display: flex;
    padding: 25px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.header {
    width: 200px;
    padding-bottom: 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.grid {
    width: 200px;
    height: 400px;
    background-color: rgba(255, 255, 255, 0.637);
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}
.box {
    width: 20px;
    height: 20px;
    outline: 1px solid rgb(216, 216, 216);
    display: flex;
    
}


#btn-start {
    text-decoration: none;
    font-size: 20px;
    padding: 2px 7px;
}

.tetromino {
    background-color: rgb(56, 212, 56);
}

.taken {
    width: 20px;
    height: 20px;
    outline: 1px solid rgb(221, 29, 29);
    display: flex;
}